In [3]:
from statsmodels.formula.api import ols
import statsmodels.api as sm
import pandas as pd

In [4]:
df = pd.read_csv('Transformed_Housing_Data')

In [5]:
df= df.rename(columns={'Sale Price': 'Sale_Price'})

In [6]:
df= df.rename(columns={'Condition of the House': 'Condition_of_the_House'})

In [7]:
df= df.rename(columns={'Ever Renovate': 'Ever_Renovate'})

In [8]:
df= df.rename(columns={'Waterfront View': 'Waterfront_View'})

In [9]:
df.head()

           ID  Sale_Price  ...  Ever_Renovate  Year Since Renovation
0  7129300520    221900.0  ...             NO                      0
1  6414100192    538000.0  ...            Yes                     26
2  5631500400    180000.0  ...             NO                      0
3  2487200875    604000.0  ...             NO                      0
4  1954400510    510000.0  ...             NO                      0

[5 rows x 21 columns]

In [10]:
mod= ols('Sale_Price ~ Condition_of_the_House', data=df).fit()
sm.stats.anova_lm(mod,typ=2)

                              sum_sq       df         F        PR(>F)
Condition_of_the_House  1.441831e+13      4.0  58.25563  5.447605e-49
Residual                1.336752e+15  21604.0       NaN           NaN

In [11]:
mod= ols('Sale_Price ~ Waterfront_View', data=df).fit()
sm.stats.anova_lm(mod,typ=2)

                       sum_sq       df           F         PR(>F)
Waterfront_View  3.283737e+13      1.0  538.192683  1.275558e-117
Residual         1.318333e+15  21607.0         NaN            NaN

In [12]:
mod= ols('Sale_Price ~ Ever_Renovate', data=df).fit()
sm.stats.anova_lm(mod,typ=2)

                     sum_sq       df           F        PR(>F)
Ever_Renovate  1.998463e+13      1.0  324.378469  5.419055e-72
Residual       1.331185e+15  21607.0         NaN           NaN

In [13]:
mod= ols('Sale_Price ~ Zipcode', data=df).fit()
sm.stats.anova_lm(mod,typ=2)

                sum_sq       df          F        PR(>F)
Zipcode   2.503765e+12      1.0  40.112844  2.444308e-10
Residual  1.348666e+15  21607.0        NaN           NaN

Conclusion: all these categorical varaibles have an impact on target variable, can't quantify it by using ANOVA. Hence, we use binning and dummy variables for catego variabels

In [14]:
df.to_csv('Transformed_Housing_Data_1', index = False)